<ul class="breadcrumb">
    <li><%= link_to "Main forum" , forums_path %> <span class="divider">/</span></li>
    <li><%= link_to @city.country.name , forum_path(@city.country) %> <span class="divider">/</span></li>
    <li class="active"><%= @city.name %></h2></li>
</ul>

<div>
	<h2><%= @city.name %></h2>
	<div class="well">
		<table>
		<% if @city.topics.empty? %>
			<tr>
				<td>No topics found</td>
			</tr>
		<% else %>
			<% @topics.each do |topic| %>
				<a id="topic<%= topic.id %>"></a>
				<p><%= link_to topic.title , {:action => 'show', :id => topic} %></p>
				<small>by <%= topic.user.full_name %>, at <%= topic.created_at %></small>
			<% end %>
		<% end %>
		</table>
	</div>
</div>
<div>
	<% if @user %>
		<%= link_to "Add new topic", new_city_topic_path(@city.id) %>
	<% end %>
</div>
<div>
	<%= link_to "back" , forum_path(@city.country) %>
</div>
