<div>
	<h2><%= @city.name %></h2>
	<table>
	<% if @city.topics.empty? %>
		<tr>
			<td>No topics found</td>
		</tr>
	<% else %>
		<% @topics.each do |topic| %>
		<tr>
			<td><%= topic.title %></td>
			<td><%= topic.description %></td>
		</tr>
		<% end %>
	<% end %>
	</table>
</div>
<div>
	<%= link_to "Add new topic", new_city_topic_path(@city.id) %>
</div>
<div>
	<%= link_to "back" , forum_path(@city.country) %>
</div>