<<<<<<< HEAD
<% form_for @topic do |uForm| %>

=======
<%= form_for @topic do |t| %>
>>>>>>> 8c6b43d66bc280e3d5797d98bd000705a2df8685
<table>
<tr>
	<td>Title:</td>
	<td><%= t.text_field :title %></td>
</tr>
<tr>
	<td>Description:</td>
	<td><%= t.text_area :description %></td>
</tr>
</table>

<<<<<<< HEAD
<%= uForm.submit "Create" %><br>
=======
<%= t.submit "Create"  %><br>
>>>>>>> 8c6b43d66bc280e3d5797d98bd000705a2df8685
<%= link_to 'Back', {:action => 'index' } %>
<% end %>