<ul class="breadcrumb">
    <li><%= link_to "Main forum" , forums_path %> <span class="divider">/</span></li>
    <li><%= link_to @city.country.name , forum_path(@city.country) %> <span class="divider">/</span></li>
    <li><%= link_to @city.name , {:action => 'index'} %> <span class="divider">/</span></li>
    <li class="active"><%= @topic.title %></h2></li>
</ul>

<h2><%= @topic.title %></h2>
<div class="well">
<dl class="dl-horizontal">
	<dt><p class="text-overflow"><%= @topic.user.full_name %><br><%= @topic.created_at %></p></dt>
	<dd><%= @topic.description %></dd>
</dl>
	
	<% if @topic.comments.empty? %>
		<em> This topic is empty</em>
		<br>
	<% else %> 
		<table>
		<% @topic.comments.each do |comment| %>
			<a id="comment<%= comment.id %>"></a>
			<dl class="dl-horizontal">
				<dt><p class="text-overflow">
				<%= comment.user.full_name %><br>
				<%= comment.created_at %></p></dt>
				<dd><%= comment.description %></dd>
			</dl>
		<% end %>	
		</table>
	<% end %>
</div>

<br>
<% if @user %>
	<%= form_for  ([@city, @topic, @comment]) do |uForm| %>
	<dl class="dl-horizontal"><dt>Quick reply:</dt>
		<dd><%= uForm.text_area(:description, :size => "50x10")%></dd>
	
	<%= uForm.submit "Submit", {:class => "btn btn-primary"} %><br>
	<% end %>
<% else %>
<p> You must be logged in to add comments </p>
<% end %>

<%= link_to 'back', {:action => 'index'} %>