<div class="hidden user_edit_form"></div>

<!-- Personal details -->
<fieldset>
	<legend>About you</legend>
	
	<!-- First name -->
    <div class="control-group">
        <%= f.label :first_name, "First name", :class => "control-label" %>
        <div class="controls">
            <%= f.text_field :first_name, :placeholder => "First name" %>
        </div>
    </div>

    <!-- Last name -->
    <div class="control-group">
        <%= f.label :last_name, "Last name", :class => "control-label" %>
        <div class="controls">
            <%= f.text_field :last_name, :placeholder => "Last name" %>
        </div>
    </div>

    <!-- Email -->
    <div class="control-group">
        <%= f.label :email, "Email", :class => "control-label" %>
        <div class="controls">
            <%= f.email_field :email, :placeholder => "Email" %>
        </div>
    </div>

</fieldset>

<!-- Password -->
<fieldset>
	<legend>Password</legend>

		<!-- Password -->
    <div class="control-group">
        <%= f.label :new_password, "Password", :class => "control-label" %>
        <div class="controls">
            <%= f.password_field :new_password, :placeholder => "Password" %>
        </div>
    </div>

    <!-- Password confirmation -->
    <div class="control-group">
        <%= f.label :new_password_confirmation, "Confirmation", :class => "control-label" %>
        <div class="controls">
            <%= f.password_field :new_password_confirmation, :placeholder => "Confirmation" %>
        </div>
    </div>

</fieldset>

<!-- Location -->
<fieldset>
	<legend>Where are you from?</legend>

	<div class="country-university-group">

  		<!-- Home country -->
	    <div class="control-group">
	        <%= f.label :home_country_id, "Home country", :class => "control-label" %>
	        <div class="controls">
	            <%= select_tag :home_country_id, options_for_select([["Select one", -1]].concat(countries)), :class => "country-dropdown" %>
	        </div>
	    </div>

	    <!-- Home city -->
	    <div class="control-group">
	        <%= f.label :home_city_id, "Home city", :class => "control-label" %>
	        <div class="controls">
	            <%= select_tag :home_city_id, options_for_select([["First, select a country", -1]]), :class => "city-dropdown" %>
	        </div>
	    </div>

	    <!-- Home university -->
	    <div class="control-group">
	        <%= f.label :home_university_id, "Home university", :class => "control-label" %>
	        <div class="controls">
	            <%= f.select :home_university_id, [["First, select a city", -1]], {}, :class => "university-dropdown" %>
	        </div>
	    </div>

	</div>

    <!-- Checkbox for ERASMUS students -->
    <div class="control-group">
        <div class="controls">
        	<label class="checkbox">
        		<%= f.check_box :is_exchange_student, { :class => "cb_is_exchange_student" } %>
        		I am an ERASMUS exchange student or candidate.
        	</label>
        </div>
    </div>

    <div id="exchange_student_location" class="country-university-group">

	    <!-- Home country -->
	    <div class="control-group">
	        <%= f.label :foreign_country_id, "Home country", :class => "control-label" %>
	        <div class="controls">
	            <%= select_tag :foreign_country_id, options_for_select([["Select one", -1]].concat(countries)), :class => "country-dropdown" %>
	        </div>
	    </div>

	    <!-- Home city -->
	    <div class="control-group">
	        <%= f.label :foreign_city_id, "Home city", :class => "control-label" %>
	        <div class="controls">
	            <%= select_tag :foreign_city_id, options_for_select([["First, select a country", -1]]), :class => "city-dropdown" %>
	        </div>
	    </div>

	    <!-- Exchange university -->
	    <div class="control-group">
	        <%= f.label :foreign_university_id, "Exchange university", :class => "control-label" %>
	        <div class="controls">
	            <%= f.select :home_university_id, [["Select a country first", -1]], {}, :class => "university-dropdown" %>
	        </div>
	    </div>

	</div>

</fieldset>