<h2>Users</h2>

<% if @users.empty? %>
	<em> No users found</em>
<% else %> 
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<!--<th>Home University</th>
			<th>Foreign University</th>-->
		</tr>
<<<<<<< HEAD
			<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.full_name, user %></td>
			<td><%= user.email %></td>
		</tr>
=======
		<% @users.each do |user| %>
			<tr>
				<td><%= link_to user.full_name, user %></td>
				<td><%= user.email %></td>
			</tr>
		<% end %>
>>>>>>> 7ed3d0c463b87d5e22cd7a7a892384725b9a3b1b
	</table>
<% end %>	
<% end %>	
<br>

<%= link_to "Add new user", new_user_path %>