<!--Index created only to test, is not going to be on working in the final
web site. The index controller is commented, then is not posible use it-->
<h2>Sections</h2>
<% if @sections.empty? %>
<em> No sections found</em>
<br>
<% else %> 
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th></th>
		</tr>
<% @sections.each do |section| %>
		<tr>
			<td><%= section.title %></td>
			<td><%= section.description %></td>
			<td><%= link_to "Delete", section, :method => :delete, :confirm => "Are you sure you want to delete this section?" %></td>
		</tr>
<% end %>	
	</table>
<% end %>
<br>
<%= link_to "Add new section", {:action => 'new' }%><br>
<%= link_to 'Back', :back %>
