<h1>New Page</h1>

<hr />

<p class="text-info">Add one page to the university/city</p>

<hr />

<%= form_for @page, :html => { :class => "form-horizontal" } do |u| %>
	<fieldset>
	    <div class="control-group">
	        <%= u.label :title, "Title", :class => "control-label" %>
	        <div class="controls">
	            <%= u.text_field :title, :placeholder => "Title" %>
	        </div>
	    </div>

	    <div class="control-group">
	        <%= u.label :body, "Body", :class => "control-label" %>
	        <div class="controls">
	            <%= u.text_area :body, :placeholder => "Body", :rows =>7  %>
	        </div>
	    </div>
	</fieldset>

    <div class="form-actions">
		<%= u.submit "Create", :class => "btn btn-primary" %>
		<%= link_to "Cancel", :back, :class => "btn" %>
	</div>
<% end %>