<h1><%= @country.name %></h1>
<hr />
<% if @country.cities.empty? %>
<em> No cities</em>
<br>
<% else %> 
	<ul class="inline">
<% @country.cities.each do |city| %>
			<li><%= link_to city.name, city %></li>
<% end %>	
	</ul>
<% end %>

<% if @user %>
	<%= link_to "New city", url_for([:new, :city]), :class => "btn" %><br>
<% end %>
<hr />
<% if @user %>
	<%= link_to 'Edit country', {:action => 'edit', :id => @country}, :class => "btn btn-primary" %>
	<%= link_to "Delete", @country, :method => :delete, :confirm => "Are you sure you want to delete this country?", :class => "btn"  %><br>
<% end %>
<hr />
<%= link_to 'Back', :back, :class => "btn" %>
