<h2><%= @country.name %></h2>
<% if @country.cities.empty? %>
<em> No cities</em>
<br>
<% else %> 
	<table>
<% @country.cities.each do |city| %>
		<tr>
			<td><%= link_to city.name, city %></td>
			<% if city.topics.empty? %>

				<td><%= link_to "forum", city_topics_url(city.id) %></td>
			<% end %>
		</tr>
<% end %>	
	</table>
<% end %>
<br>
<%= link_to 'Edit country', {:action => 'edit', :id => @country} %><br>
<%= link_to "Delete", 
	@country, 
	:method => :delete,
	:confirm => "Are you sure you want to delete this country?" %><br>
<%= link_to 'Back', {:action => 'index'} %>