<%= form_for @city do |uForm| %>
<table>
	<tr>
		<td>Name:</td>
		<td><%= uForm.text_field :name %></td>
	</tr>
	<tr>
		<td>Description:</td>
		<td><%= uForm.text_area :description %></td>
	</tr>
</table>
<%= uForm.submit "Update" %><br>
<%= link_to 'Back', {:action => 'show', :id => @city } %>
<% end %>