<h2><%= @city.name %> (<%= link_to @city.country.name, @city.country %>)</h2>
<h4><%= @city.description %></h4>
<% if @city.universities.empty? %>
<em> No Universities</em>
<br>
<% else %> 
	<table>
<% @city.universities.each do |university| %>
		<tr>
			<td><%= link_to university.name_english, university %></td>
		</tr>
<% end %>	
	</table>
<% end %>
<br>
<%= link_to 'Edit city', {:action => 'edit', :id => @city} %><br>
<%= link_to "Delete", 
	@city, 
	:method => :delete,
	:confirm => "Are you sure you want to delete this city?" %><br>
<%= link_to 'Back', {:action => 'index'} %>