<<<<<<< HEAD
<h1><%= @city.name %> ( <%= link_to @city.country.name, @city.country %>)</h1>
<hr />
<h4><%= @city.description %></h4>

<% if @city.universities.empty? %>
	<em> No Universities</em>
	<br>
<% else %> 
	<lu class="inline">
	<% @city.universities.each do |university| %>
		<li> <%= link_to university.name_english, university %> </li>
	<% end %>	
	</lu>
<% end %>

<% if @user %>
	<%= link_to "New university", url_for([:new, :university]), :class => "btn" %><br>
<% end %>


<hr />
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">

			<h4>List of Pages </h4>
			<% if @city.pages.empty? %>
				<em> No Pages</em>
				<br>

=======
<div class="city-info">
	<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @city.name %>,<%= @city.country.name %>&zoom=10&size=470x280&sensor=false">
	<div class="gradient"></div>
	<div class="info">
		<div class="info-cell">
			<div>
				<h1><%= @city.name %><h1>
				<h2><%= link_to @city.country.name, @city.country %></h2>
			</div>
			<div class="description">
				<%= @city.description %>
			</div>
>>>>>>> 94a21600b3649cc3fa6da8665f780a7b400c2687
		</div>
	</div>
</div>

<<<<<<< HEAD
			<% else %>
				<lu> 
					<% @city.pages.each do |page| %>
						<li><%= link_to page.title,  url_for([@city, page]) %></li>
					<% end %>	
				</lu>
				<br>
				<% if @user %>
					<%= link_to "New Page", url_for([:new, @city, :page]), :class => "btn"  %>
				<% end %>

 		</div>
		<div class="span10">

			<h2><%= @page.title %><% if @user %>     <%= link_to "(Edit Page)", url_for([:edit, @city, @page]) %>     <%= link_to "(Delete Page)", @page, :method => :delete, :confirm => "Are you sure you want to delete this page?" %><% end %><br></h2>
			<h4><%= @page.body %></h4>
			<hr/>
			<h3>List of Sections<% if @user %>     - <%= link_to "New Section", url_for([:new, @city, @page, :section]), :class => "btn" %><% end %></h3>
			<% if @page.sections.empty? %>
				<em> No Sections</em>
				<br>
			<% else %>
				<dl >
					<% @page.sections.each do |section| %>
						<h4><dt> ·  <%= section.title %><% if @user %>     <%= link_to "(Edit)", url_for([:edit, @city, @page, section]) %>     <%= link_to "(Delete)", section, :method => :delete, :confirm => "Are you sure you want to delete this section?" %><% end %><br></dt></h4>
						<h6><dd><%= section.description %></dd></h6>
						<br>
					<% end %>
				</dl>
			<% end %>

 		</div>
	</div>
</div>

			<% end %>
			<hr />

<% if @user %>
	<br>
	<%= link_to 'Edit city', {:action => 'edit', :id => @city}, :class => "btn" %>
	<%= link_to "Delete", @city, :method => :delete, :confirm => "Are you sure you want to delete this city?", :class => "btn" %>
	<br>
	<hr />
<% end %>

<%= link_to 'Back', :back, :class => "btn" %>
=======
<!-- Administration panel, visible only to administrator -->
<div class="city-buttons">
	<%= link_to "Edit", edit_city_path(@city), :class => "btn" %>
	<%= link_to "Delete", @city, 
		:class => "btn btn-danger",
		:method => :delete,
		:confirm => "Are you sure you want to delete this city?" %>
</div>

<ul class="breadcrumb">
	<li><%= link_to "Home", root_url %> <span class="divider">/</span></li>
	<li><%= link_to "Cities", cities_path %> <span class="divider">/</span></li>
	<li class="active"><%= @city.name %></li>
</ul>
>>>>>>> 94a21600b3649cc3fa6da8665f780a7b400c2687
