<h2>Universities</h2>
<% if @universities.empty? %>
<em> No universities found</em>
<br>
<% else %> 
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Name (english)</th>
			<th>Website</th>
			<th>Contact</th>
			<th>City (Country)</th>
		</tr>
<% @universities.each do |university| %>
		<tr>
			<td><%= link_to university.name_original, university %></td>
			<td><%= university.name_english %></td>
			<td><%= university.website %></td>
			<td><%= university.contact %></td>
			<td><%= link_to university.city.name, university.city %> (<%= link_to university.city.country.name, university.city.country %>)</td>
		</tr>
<% end %>
	</table>	
<% end %>
<br>
<%= link_to "Add new university", {:action => 'new' }%>
