<!DOCTYPE html>
<html>
<head>
    <title>Purerasmus</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Purerasmus</a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#">Countries</a></li>
                        <li><a href="#">Universities</a></li>
                    </ul>

                    <ul class="nav pull-right">                       
                        <li<%= raw ' class="active"' if @tab == :login %>>
                            <%= link_to "Login", login_path %>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">

        <div class="content">

            <%= yield %>

        </div>

        <hr>

        <footer>
            <p>Purerasmus &copy; 2012</p>
        </footer>

    </div> <!-- /container -->

</body>
</html>